/old
/BLS/1990.annual.singlefile.csv
/BLS/1991.annual.singlefile.csv
/BLS/1992.annual.singlefile.csv
/BLS/1993.annual.singlefile.csv
/BLS/1994.annual.singlefile.csv
/BLS/1995.annual.singlefile.csv
/BLS/1996.annual.singlefile.csv
/BLS/1997.annual.singlefile.csv
/BLS/1998.annual.singlefile.csv
/BLS/1999.annual.singlefile.csv
/BLS/2000.annual.singlefile.csv
/BLS/2001.annual.singlefile.csv
/BLS/2002.annual.singlefile.csv
/BLS/2003.annual.singlefile.csv
/BLS/2004.annual.singlefile.csv
/BLS/2005.annual.singlefile.csv
/BLS/2006.annual.singlefile.csv
/BLS/2007.annual.singlefile.csv
/BLS/2008.annual.singlefile.csv
/BLS/2009.annual.singlefile.csv
/BLS/2010.annual.singlefile.csv
/BLS/2011.annual.singlefile.csv
/BLS/2012.annual.singlefile.csv
